@using HairSalon.Models;
@{
  Layout="_Layout";
}
<div class="header">
  <div class="left">
    <form action='/customers/@Model["customer"].GetId()/delete' method="post">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
  <h1>Customer: @Model["customer"].GetName()</h1>
</div>
<hr>
<div class="row topRowShow">
  <div class="col-md-4">
    <p><a class="btn btn-warning" href='/customers/@Model["customer"].GetId()/edit'>Edit</a></p>
    <p><a class="btn btn-success" href='/customers/'>Back to Cusomers</a></p>
  </div>
  <div class="col-md-4">
    <h4>All stylists @Model["customer"].GetName() visits</h4>
    @foreach(Employee employee in Model["customerEmployees"])
    {
      <a class="btn gray" href="/employees/@employee.GetId()">@employee.GetName()</a>
    }
  </div>
  <div class="col-md-4">
    <form action='/customers/@Model["customer"].GetId()/employees/new' method="post">
      <label for="employeeId">Select Employee</label>
      <select id="employeeId" name="employeeId">
        @foreach(Employee employee in Model["allEmployees"])
        {
          <option value="@employee.GetId()">@employee.GetName()</option>
        }
      </select>
      <button class ="btn gray" type="submit">Add stylist for @Model["customer"].GetName()</button>
    </form>
    
  </div>
</div>
<div class="row">
  <div class="col-md-5">

  </div>
  <div class="col-md-3">
    <form action='/customers/@Model["customer"].GetId()/specialties/new' method="post">
      <label for="specialtyId">Select Specialty</label>
      <select id="specialtyId" name="specialtyId">
        @foreach(Specialty specialty in Model["allSpecialties"])
        {
          <option value="@specialty.GetId()">@specialty.GetName()</option>
        }
      </select>
      <br>
      <button class="btn gray" type="submit">Get haircut</button>
    </form>
  </div>
  <div class="col-md-4">
    <h4>Currently sporting:</h4>
    <div class="well">
      <h1>@Model["customer"].GetCurrentHairCut().GetName()</h1>
    </div>
  </div>
</div>

