@using HairSalon.Models;
@{
  Layout="_Layout";
}
<div class="header">
  <div class="left">
    <form action='/employees/@Model["employee"].GetId()/delete' method="post">
    <button class="btn btn-danger" type='submit'>Fire @Model["employee"].GetName()</button>
    </form>
  </div>
  <h1 class="title">@Model["employee"].GetName()</h1>
</div>
<hr>
<div class="row">
  <div class="col-md-4 center">
    <div>
      <p><a class="btn btn-success" href="/employees/@Model["employee"].GetId()/customers/new">Add customer</a><p>
      <p><a class="btn btn-warning" href="/employees/@Model["employee"].GetId()/edit">Edit employee</a></p>
      <p><a class="btn btn-primary" href="/employees">Employees Home</a></p>
    </div>
  </div>
    <div class="col-md-4">
      <div>
        @if(Model["employeeCustomers"].Count == 0)
        {
          <p>No customers found for @Model["employee"].GetName()</p>
        }
        @if(Model["employeeCustomers"].Count != 0)
        {
          <h4>All customers who visit @Model["employee"].GetName()</h4>
          @foreach(Customer customer in Model["employeeCustomers"])
          {
            <p><a class="btn btn-info" href="/customers/@customer.GetId()">@customer.GetName()</a></p>
          }
        }
      </div>
  </div>
  <div class="col-md-4">
    <h4>Add a Customer to this Employee</h4>
    <form action='/employees/@Model["employee"].GetId()/customers/new' method="post">
      <label for='customerId'>Select a customer</label>
      <select id='customerId' name='customerId'>
        @foreach(Customer customer in Model["allCustomers"])
        {
          <option value="@customer.GetId()">@customer.GetName()</option>
        }
      </select>
      <button type="submit">Add</button>
    </form>
    <h4>Add a specialty this employee offers</h4>
    <form action='/employees/@Model["employee"].GetId()/specialties/new' method="post">
      <label for='specialtyId'>Add a style</label>
      <select id='specialtyId' name='specialtyId'>
        @foreach(Specialty specialty in Model["allSpecialties"])
        {
          <option value="@specialty.GetId()">@specialty.GetName()</option>
        }
      </select>
      <button type="submit">Add</button>
    </form>

  </div>
</div>

